
<section class="fdb-block pb-0 hero_bg" >
    <div class="container">
        <div class="row align-items-end mt-5">
            <div class="col-12 col-md-12 col-lg-4 order-2 order-md-1">
                <h1 class="p-primary-dark heading_1 text-md-left text-center mt-4 mt-md-0">Althash
                    University </h1>
                <p class="mb-5 subheading_normal p-grey text-md-left text-center">An initiative of
                    CODEX and Althash to
                    nurture the potential talents in the emerging technologies and software development.</p>
                <div class="border p-round p-2 mb-5">
                    <div class="p-4 bg-white p-round p-shadow">
                        <p class="subheading_normal">Our <span class="p-primary-dark heading_3">Mission</span></p>
                        <p class="p_normal p-grey">Althash strives to make
                            this initiative a global, technological ‘blockchain -movement’ that attracts students of
                            advanced coding expertise and backgrounds. </p>
                    </div>
                </div>
            </div>
            <div class="m-auto me-md-1 col-lg-8 order-1 order-md-2"><img alt="image" src="assets/university_flip.png"
                    class="img-fluid mr-n5"></div>
        </div>
    </div>
</section>

<section class="fdb-block-np" style="background-image: url(assets/Images/university/register_bg_1.png);">
    <div class="container">
        <h3 class="heading_2 p-primary-dark mb-4 mt-md-5">Some catchy heading related to
            University</h3>
        <p class="col-md-8 p-0 p_big_200">By interacting with many developers that know how to
            create smart contracts. We are able to apply their skills to HTMLCoin and create high utility applications
            that will be applicable in everyday life. Tipping bots, payment systems, token reward programs are all
            examples of some of the creations that students can make from HTMLCoins smart contracting software. <br><br>
            This initiative will target blockchain clubs across the
            globe, particularly those at Universities in the United States. The program will allow students to take part
            in an internship- like program with Althash where they will create smart contracts using Solidity, and other
            coding languages like nodejs. Gifted HTMLCoin and CDEX token will be given to these clubs to assist in the
            creation of high- utility applications. This initiative will expand the horizons for each students
            developmental career as well as promote further their understanding of emerging software in the blockchain
            space.</p><button class="btn btn-dark btn-lg fw-bold my-4 btn-shd">Register
            Now</button>
        <h4 class="my-5 heading_5 p-grey">How this works</h4>
        <div class="row ">
            <div class="col-md-4 col-6 align-content-center d-flex">
                <div class="col-12 col-sm-10 col-md-10 bg-white p-shadow p-round p-4 mb-md-0 mb-3">
                    <div class="row">
                        <div class="col-md-8 order-2 order-md-1"><img src="assets/Images/university/icon1.png" class="w-55" alt="" srcset="">
                        </div>
                        <div class="col-md-4 order-1 text-md-right text-left pr-3">
                            <h5 class="heading_5">Step #1</h5>
                        </div>
                    </div>
                    <h5 class="my-3 heading_6">Register your club/organization for <span class="p-primary-dark">Althash
                            University Program</span></h5>
                </div>
            </div>
            <div class="col-md-4 col-6 align-content-center d-flex">
                <div class="col-12 col-sm-10 col-md-10 bg-white p-shadow p-round p-4 mb-md-0 mb-3">
                    <div class="row">
                        <div class="col-md-8 order-2 order-md-1"><img src="assets/Images/university/icon2.png" class="w-55"  alt="" srcset="">
                        </div>
                        <div class="col-md-4 order-1 text-md-right text-left pr-3">
                            <h5 class="heading_5">Step #2</h5>
                        </div>
                    </div>
                    <h5 class="my-3 heading_6">Althash will provide the members of your club for
                        internship</h5>
                </div>
            </div>
            <div class="col-md-4 col-6 align-content-center d-flex">
                <div class="col-12 col-sm-10 col-md-10 bg-white p-shadow p-round p-4 mb-md-0 mb-3">
                    <div class="row">
                        <div class="col-md-8 order-2 order-md-1"><img src="assets/Images/university/icon3.png" class="w-55" alt="" srcset="">
                        </div>
                        <div class="col-md-4 order-1 text-md-right text-left pr-3">
                            <h5 class="heading_5">Step #3</h5>
                        </div>
                    </div>
                    <h5 class="my-3 heading_6">Interns can contribute and learn while building on
                        Althash</h5>
                </div>
            </div>
            <div class="col-md-4 col-6 align-content-center d-flex my-md-5">
                <div class="col-12 col-sm-10 col-md-10 bg-white p-shadow p-round p-4 mb-md-0 mb-3">
                    <div class="row">
                        <div class="col-md-8 order-2 order-md-1"><img src="assets/Images/university/icon4.png" class="w-55" alt="" srcset="">
                        </div>
                        <div class="col-md-4 order-1 text-md-right text-left pr-3">
                            <h5 class="heading_5">Step #4</h5>
                        </div>
                    </div>
                    <h5 class="my-3 heading_6">After completion interns will get the certificate $
                        Althash University and ranking</h5>
                </div>
            </div>
            <div class="col-md-4 col-6 align-content-center d-flex my-md-5">
                <div class="col-12 col-sm-10 col-md-10 bg-white p-shadow p-round p-4 mb-md-0 mb-3">
                    <div class="row">
                        <div class="col-md-8 order-2 order-md-1"><img src="assets/Images/university/icon5.png" class="w-55" alt="" srcset="">
                        </div>
                        <div class="col-md-4 order-1 text-md-right text-left pr-3">
                            <h5 class="heading_5">Step #5</h5>
                        </div>
                    </div>
                    <h5 class="my-3 heading_6">Top performers will get the oppurtunity to work as
                        an employee at Altash Community</h5>
                </div>
            </div>
        </div>

        <div class="my-4 col-md-9 p-primary-dark p_big_200"> Upon completion of the program, students
            will receive a course Certificate and an Althash intiative ‘ranking’. <br><br> Highly qualified students
            will also be recognized by the program administrators
            and will be offered employment with Althash to create related applications down the road. </div>
    </div>
</section>

<section class="fdb-block p-40 register_bg" >
    <div class="container">
        <p class="heading_3 text-center p-primary-dark">Register your organization for Althash University Program</p>
        <p class="text-center">A community that believes in innovation</p>
        <div class="row justify-content-center align-items-center p-3">
            <div class="col-md-8 p-4 p-round bg-white p-shadow">
                <form action="">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <p>First Name</p>
                            <input type="text" name="" id="" placeholder="Enter your First Name" class="mt-2">
                        </div>
                        <div class="col-md-6 mb-4">
                            <p>Last Name</p>
                            <input type="text" name="" id="" placeholder="Enter your Last Name" class="mt-2">
                        </div>
                        <div class="col-md-8 mb-4">
                            <p>Your Organization</p>
                            <input type="text" name="" id="" placeholder="Enter your Organization Name" class="mt-2">
                        </div>
                        <div class="col-md-4 col-5 mb-4">
                            <p>No of Member</p>
                            <input type="text" name="" id="" class="mt-2" value="0">
                        </div>
                        <div class="col-md-6 col-7 mb-4">
                            <p>Phone number</p>
                            <input type="text" name="" id="" placeholder="Please mention your contact number" class="mt-2">
                        </div>
                        <div class="col-md-6 mb-4">
                            <p>Your email</p>
                            <input type="text" name="" id="" placeholder="Please enter your email" class="mt-2">
                        </div>
                        <div class="col-md-12 mb-4">
                            <p>Message for us</p>
                            <textarea name="" id="" rows="2" placeholder="Please mention anything that you would want us know" class="mt-2"></textarea>
                        </div>
                        <div class="col-12 mb-4 text-center mt-4">
                            <button class="btn text-white p-bprimary-dark mx-auto">Submit the form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
