<section class="fdb-block align-items-center" style="background-image: url(assets/Images/common/hero_bg.png);">
    <div class="container pt-5 pt-md-0">
        <h1 class="heading_1 p-primary-dark text-center text-md-left pt-5">Investment Policy</h1>
        <p class="subheading_normal text-center text-md-left"> Version Date: January 15, 2020</p>
    </div>
</section>
<section class="fdb-block-np">
    <div class="container pf-footer pt-5">
        
        <span class="subheading_normal p-grey common-p"> This policy applies to all Core Team members, extended team
            members, employees, contributors, volunteers, affiliates and any other participants. (“Covered Individuals”)
            of Codex on Althash.
            <br>
            ​<br>
            <p class="heading_5">Background</p>
            Codex on Althash is a software development organization that focuses on software solutions for the AltHash
            Blockchain. Codex on Althash's mission is to advance community interests in the blockchain through the
            implementation of smart contracts in high- utility applications. No ownership or equity interest in Codex on
            Althash nor HTMLCoin LLC has ever been publicly offered, nor have any equity or security investments in any
            Codex on Althash Organizations ever been publicly solicited. The Codex on Althash Organizations have never,
            and will never, publicly offer for sale an equity or ownership interest in Codex on Althash, the HTMLCoin
            Foundation, nor any other businesses or entities associated. Tokens used in Codex application builds are not
            security or equity interest in Codex on Althash Organizations or any other business or organization.
            Individuals who purchase HTML or HRC20 tokens are not “investing” in the HTMLCoin Organizations. Trading any
            goods, services, assets, or securities for HTML or HRC20 tokens on public exchanges does not in any way
            enrich or inure to the benefit of Codex on Althash or HTMLCoin Organizations. Codex on Althash 'partners',
            which would be using the AltHash Blockchain and/or HRC20 tokens may or may not be termed as securities based
            on their use case. Codex on Althash nor HTMLCoin Foundation in no way takes any responsibility, and strongly
            advise individuals to do independent research before trading for any tokens/coins and also before using any
            apps that use these tokens/coins.
            <br>
            <br>
            <p class="heading_5">Policy</p>
            It is the policy of Codex on Althash that no Covered Individuals take any actions or make any statements in
            any medium that may be interpreted as:
            <ul>
                <li>A solicitation for “investment” in HTMLCoin or other HRC20 tokens/coins</li>
                <li>An endorsement of purchasing or exchanging for HTMLCoin or other HRC20 tokens/coins</li>
                <li>Speculation on the future price or value of HTMLCoin or other HRC20 tokens/coins</li>
                <li>A suggestion, implicit or explicit, that the exchange value of HTMLCoin or other tokens/coins will
                    increase in the future, or that the value of HTMLCoin/tokens/coins will increase as a result of
                    Codex on Althash or affiliates actions.</li>
            </ul>
            Examples of the above include, but are not limited to:
            <ul>
                <li>Suggesting anyone purchase HTMLCoin or other HRC20 tokens/coins</li>
                <li>Posting on social media or through any other medium anything that could be interpreted as suggesting
                    HTMLCoin or other HRC20 tokens/coins is an investment opportunity, traditional or otherwise;</li>
                <li>Making statements about the current, past, or future exchange/trading value of HTMLCoin or other
                    HRC20 tokens/coins</li>
                <li>Implying that the value of HTMLCoin or other HRC20 tokens/coins is affected by many factors outside
                    of the market economy and non-Covered Individuals’ personal valuation of HTMLCoin or other HRC20
                    tokens/coins</li>
                <li>Making any statement or giving any recommendation, implicit or explicit, that could be reasonably be
                    interpreted as suggesting how, when, where, or why an individual should or should not purchase or
                    exchange for HTMLCoin or other HRC20 tokens/coins</li>
            </ul>
            Any violation of this policy, in the sole discretion of Codex on Althash and HTMLCoin core team, will result
            in the immediate and permanent termination of any relationship between the Covered Individual and Codex on
            Althash. <br>
            In light of the current developments with regard to Cryptocurrencies and Securities laws. Some key pointers
            that need to be highlighted are:
            <ul>
                <li>The currencies can be securities at the time of issuing of their tokens and can become non-security
                    over the period of time depending upon the level of decentralization and Codex on Althash and
                    HTMLCoin have always strived for achieving a high level of decentralization</li>
                <li>Codex on Althash is a blockchain company that will always maintain this nature and individuals are
                    advised to make independent, researchable- decisions about using applications that use HTMLCoin or
                    other HRC20 tokens/coins</li>
            </ul>
            This policy should not be interpreted in any way to prevent an SEC Registered Investment Advisor or other
            licensed or registered investment professionals from rendering their professional opinion or endorsement
            when that opinion or endorsement is issued with the qualifiers that 1) it is not an official opinion or
            endorsement from the Codex on Althash and 2) that the opinion or endorsement is issued strictly in the
            professional’s individual or professional capacity and not under color of their affiliation with Codex on
            Althash Organizations.
        </span>
    </div>
</section>