<section class="fdb-block-np pad-20 padding-first bg_img_1">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-12 my-md-4">
                <img src="assets/Images/about/althashlogo.png" class="img-fluid col-md-5 my-3" alt="">
                <h6 class="fw-bold underline mb-4">{{'about.section1.powered_by' | translate}}</h6>
                <p class="subheading col-md-4 mx-auto mb-4">{{'about.section1.A_blockchain_support' | translate}}</p>
                <p class="p_big_180 col-md-5 mx-auto">{{'about.section1.subheading' | translate}}</p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block-np" style="background-image: url(assets/Images/about/2_bg.png);">
    <div class="container py-5">
        <p class="heading_3 mb-4 col-md-9 p-0 mt-4">{{'about.section2.althash_is_a' | translate}}</p>
        <div class="row mb-5">
            <div class="col-sm-6 bg-transparent p-round  mt-4 mb-5">
                <div class="d-flex">
                    <div class="col-4">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon1.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">{{'about.section2.card1.heading' | translate}}</h5>
                        <p class="p_big_180 text-muted">{{'about.section2.card2.content' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  bg-transparent p-round  mt-4 mb-5">
                <div class="row">
                    <div class="col-4">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon2.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">{{'about.section2.card2.heading' | translate}}</h5>
                        <p class="p_big_180 text-muted ">{{'about.section2.card2.content' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <p class="heading_3 my-4 col-9">{{'about.section2.some_heading' | translate}}</p>
            <div class="col-sm-6  bg-transparent p-round  p-round mt-4 mb-5">
                <div class="row">
                    <div class="col-4 ">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon3.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">{{'about.section2.card3.heading' | translate}}</h5>
                        <p class="p_big_180 text-muted">{{'about.section2.card3.content' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  bg-transparent p-round  mt-4 mb-5">
                <div class="row">
                    <div class="col-4">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon4.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">{{'about.section2.card4.heading' | translate}}</h5>
                        <p class="p_big_180 text-muted">{{'about.section2.card4.content' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fdb-block-np p-round bg_img_2">
            <div class="row mb-0">
                <div class="col-md-5">
                    <img src="assets/Images/about/sec2_img.png" alt="" class="img-fluid p-5 d-md-block d-none mx-auto" width="73%">
                    <img src="assets/Images/about/sec2_img.png" alt="" class="img-fluid d-md-none p-5">
                </div>
                <div class="col-md-7 align-self-center px-5">
                    <p class="heading_2 p-primary-light">{{'about.section2.fueled_by' | translate}}</p>
                    <p class="p_big_200 text-white mb-4">{{'about.section2.fueled_content' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block-np" style="background-image: url(assets/Images/about/sec3_bg.png);">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-4 col-6 align-items-center text-center">
                <img src="assets/Images/about/sec2_icon1.png" class="w-30" alt="">
                <p class="heading_1 heading_1-2 m-0 p-primary-dark">17500</p>
                <p class="heading_5">{{'about.section3.activity_hours' | translate}}</p>
            </div>
            <div class="col-md-4 col-6 align-items-center text-center">
                <img src="assets/Images/about/sec2_icon2.png" class="w-30" alt="">
                <p class="heading_1 heading_1-2 m-0 p-primary-dark">420</p>
                <p class="heading_5">{{'about.section3.token_created' | translate}} <br>{{'about.section3.on_althash' |
                    translate}} </p>
            </div>
            <div class="col-md-4 col-6 align-items-center text-center">
                <img src="assets/Images/about/sec2_icon3.png"class="w-30" alt="">
                <p class="heading_1 heading_1-2 m-0 p-primary-dark">12</p>
                <p class="heading_5">{{'about.section3.active_apps' | translate}}</p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block " style="background-image: url(assets/Images/about/sec4_bg.png);">
    <div class="container pf-footer">
        <p class="heading_2">{{'about.section4.community_token' | translate}}</p>
        <p class="subheading_small">{{'about.section4.subheading' | translate}}</p>

        <div class="row mt-5">
            <div class="col-md-4 mb-4 card-size d-flex card-shd" *ngFor="let item of token">
                <div class="p-round bg-white d-flex flex-column p-3">
                    <div class="bg-white">
                        <img src="{{item.img}}" class="card-img-top rounded-3 mb-3" alt="">
                    </div>
                    <div class="d-flex flex-column h-100 justify-content-between">
                        <div>
                            <div class="heading_3 mb-2">{{item.title}}</div>
                            <p class="p_normal content-size">
                                {{item.subtitle}}
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <a *ngIf="item.whitepaper != '' " [href]="item.whitepaper" target="_blank"> <img src="assets/Images/about/icon5.svg" alt="" srcset=""> </a>
                                <!-- <img src="assets/Images/about/icon6.svg" alt="" class="ms-3 ml-4" srcset=""> -->
                            </div>
                            <div class="col-7 text-end">
                                <button class="btn btn-dark btn-sm btn-shd">{{'about.section4.visit_website' |
                                    translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>