<section class="fdb-block-np pad-20 padding-first bg_img_1">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-12 my-md-4">
                <img src="assets/Images/about/althashlogo.png" class="img-fluid col-md-5 my-3" alt="">
                <h6 class="fw-bold underline mb-4">{{'homepage.section1.powered_by' | translate}}</h6>
                <p class="subheading col-md-4 mx-auto mb-4">A Blockchain supporting CODEX and many other platforms like
                    it.</p>
                <p class="p_big_180 col-md-5 mx-auto">AltHash a Blockchain as a Service (BaaS) company focused on
                    providing decentralized
                    ledger and blockchain solutions to governments and large institutions throughout the world.</p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block-np" style="background-image: url(assets/Images/about/2_bg.png);">
    <div class="container py-5">
        <p class="heading_3 mb-4 col-md-9 p-0 mt-4">Althash is a Proof-of-Work/Proof-of-Stake hybrid blockchain with
            fast and secure transactions hybrid of Bitcoin and Ethereum technologies.</p>

        <div class="row mb-5">
            <div class="col-sm-6 bg-transparent p-round  mt-4 mb-5">
                <div class="d-flex">
                    <div class="col-4">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon1.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">Security of Bitcoin</h5>
                        <p class="p_big_180 text-muted">Leveraging the security of the UTXO protocol with additional
                            abstraction layers that provide further speed, additional security</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  bg-transparent p-round  mt-4 mb-5">
                <div class="row">
                    <div class="col-4">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon2.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">Flexibility of Ethereum</h5>
                        <p class="p_big_180 text-muted ">Blockchain with the flexibility of Virtual Machines with
                            additional abstraction layers that provide further speed and functionality to the network.
                        </p>
                    </div>
                </div>
            </div>
            <p class="heading_3 my-4 col-9">Some heading describing the community of the Althash.</p>
            <div class="col-sm-6  bg-transparent p-round  p-round mt-4 mb-5">
                <div class="row">
                    <div class="col-4 ">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon3.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">7+ Years of Experience.</h5>
                        <p class="p_big_180 text-muted">Content that suuports the above heading</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  bg-transparent p-round  mt-4 mb-5">
                <div class="row">
                    <div class="col-4">
                        <div class="p-round bg-white text-center p-4 p-shadow">
                            <img alt="image" class="img-fluid" src="assets/Images/about/icon4.png">
                        </div>
                    </div>
                    <div class="col-8 px-4 align-self-center">
                        <h5 class="heading_4 p-primary-dark">True worldwide team. </h5>
                        <p class="p_big_180 text-muted">Skilled professionals from six continents and some more related
                            content.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fdb-block-np p-round bg_img_2">
            <div class="row mt-5 mb-0">
                <div class="col-md-5">
                    <img src="assets/Images/about/sec2_img.png" alt="" class="img-fluid d-md-block d-none">
                    <img src="assets/Images/about/phone_sec2_img.png" alt="" class="img-fluid d-md-none">
                </div>
                <div class="col-md-7 align-self-center px-5">
                    <p class="heading_2 p-primary-light">Fueled by HTMLCOIN</p>
                    <p class="p_big_200 text-white mb-4">The cryptocurrency that powers the network, the Althash
                        blockchain
                        is able to provide a fast, efficient and reliable platform for secure and easy to use
                        applications for institutions, businesses and individuals.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block-np" style="background-image: url(assets/Images/about/sec3_bg.png);">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-4 col-6 align-items-center text-center">
                <img src="assets/Images/about/sec2_icon1.png" class="w-30" alt="">
                <p class="heading_1 heading_1-2 m-0 p-primary-dark">17500</p>
                <p class="heading_5">Activity Hours</p>
            </div>
            <div class="col-md-4 col-6 align-items-center text-center">
                <img src="assets/Images/about/sec2_icon2.png" class="w-30" alt="">
                <p class="heading_1 heading_1-2 m-0 p-primary-dark">420</p>
                <p class="heading_5">Token Created <br> on Althash</p>
            </div>
            <div class="col-md-4 col-6 align-items-center text-center">
                <img src="assets/Images/about/sec2_icon3.png" width="30%" alt="">
                <p class="heading_1 heading_1-2 m-0 p-primary-dark">12</p>
                <p class="heading_5">Active Apps</p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block " style="background-image: url(assets/Images/about/sec4_bg.png);">
    <div class="container pf-footer">
        <p class="heading_2">Community tokens made on Althash</p>
        <p class="subheading_small">Our AltHash community have made many great tokens including CODEX own CDEX tokens.
            Explore the tokens.</p>

        <div class="row mt-5">
            <div class="col-md-4 mb-4 card-size d-flex card-shd" *ngFor="let item of token">
                <div class="p-round bg-white d-flex flex-column p-3">
                    <div class="bg-white">
                        <img src="{{item.img}}" class="card-img-top rounded-3 mb-3" alt="">
                    </div>
                    <div class="d-flex flex-column h-100 justify-content-between">
                        <div>
                            <div class="heading_3 mb-2">{{item.title}}</div>
                            <p class="p_normal content-size">
                                {{item.subtitle}}
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-5 align-self-center">
                                <img src="assets/Images/about/icon5.svg" alt="" srcset="">
                                <img src="assets/Images/about/icon6.svg" alt="" class="ms-3 ml-4" srcset="">
                            </div>
                            <div class="col-7 text-end">
                                <button class="btn btn-dark btn-sm btn-shd">Visit Website</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>