<section class="fdb-block align-items-center" style="background-image: url(assets/Images/common/hero_bg.png);">
    <div class="container pt-5 pt-md-0">
        <h1 class="heading_1 p-primary-dark text-center text-md-left pt-5"> Codex FAQ </h1>
        <p class="subheading_normal text-center text-md-left"> Version Date: January 15, 2020</p>
    </div>
</section>
<section class="fdb-block-np">
    <div class="container pf-footer pt-5">
        <span class="subheading_normal p-grey common-p"> If you can’t find an answer to your questions below, please
            contact Customer Support on telegram : <a href="https://t.me/DannyClear">https://t.me/DannyClear</a><br>

            To learn more about Codex please refer to our main page. (<a
                href="https://www.codexonalthash.com/">https://www.codexonalthash.com/</a> )
            <br><br>
            <p class="heading_5">What is Codex on Althash?</p>
            <ul>
                <li> Codex on Althash is a software as a service (SaaS) company that specializes in blockchain solutions
                    and services. It is also a decentralized ecosystem of freelance developers creating applications on
                    HTMLCoin blockchain. Some existing services are: a forum for discussion, an index for Althash API, a
                    platform for freelance coders, and a 'tip bot' that can send a receive HTMLCoin and tokens. Codex
                    ecosystem creates value by creating useful blockchain applications that are used on a daily basis
                    using the 'CDEX' utility token, which uses HTMLCoin as its gas.<br></li>
            </ul>
            <p class="heading_5">What is the Codex Official Website? </p>
            <ul>
                <li> <a href="https://www.codexonalthash.com/">https://www.codexonalthash.com/</a>.<br></li>
            </ul>
            <p class="heading_5">What is HTMLCoin? </p>
            <ul>
                <li> HTMLCoin is not just a cryptocurrency but a new secure blockchain based on a fully integrated
                    Bitcoin Core and Ethereum cpp client codebase, to deliver Smart Contracts and Distributed
                    Applications (DAPPS). It implements an extendable design which is capable of adding more virtual
                    machines (VM), enabled through an Account Abstraction Layer, which allows an account based VM to
                    function on a Bitcoin UTXO based Blockchain. It has the strength of Bitcoin and features of Ethereum
                    on one platform.<br></li>
                <li>Althash is SaaS (Software as a Service).<br></li>
            </ul>
            <p class="heading_5">What is the Codex's mission? </p>
            <ul>
                <li> The Codex mission is to continuously build an ecosystem of programmers and developers on Althash
                    with focus on building value through utility in applications. By on-boarding many skilled
                    freelancers, Codex is able to introduce them to the HTMLCoin software as well as promote applicatory
                    advancements for Codex on Althash. <br></li>
                <li>Value through utility not speculation on price.<br></li>
            </ul>
            <p class="heading_5">What is unique about Codex? </p>
            <ul>
                <li>Codex finds value through utility not through speculation or implied future value of tradable
                    tokens. The Codex mission is maintained by creating an ecosystem of developers focused on a common
                    goal of software development.<br></li>
            </ul>
            <p class="heading_5">Who is the team behind Codex? </p>
            <ul>
                <li>The team consists of developers and freelancers all across the world. With programmers in Vietnam,
                    Germany, USA, Brazil, and Australia the team is capable of reaching the global masses.<br></li>
            </ul>
            <p class="heading_5">What is 'CDEX' token? </p>
            <ul>
                <li>'CDEX' token is a utility token on HTMLCoin used in the Codex ecosystem.<br></li>
            </ul>
            <p class="heading_5">Is 'CDEX' an ICO? </p>
            <ul>
                <li>'CDEX' is not an ICO it was distributed for FREE to community members in the early weeks of the
                    token.<br></li>
            </ul>
            <p class="heading_5">Is 'CDEX' a listed token? </p>
            <ul>
                <li>'CDEX' is listed on <a href="https://htmlbunker.com/">https://htmlbunker.com/</a><br></li>
            </ul>
            <p class="heading_5">What can I do with the 'CDEX' utility token? </p>
            <ul>
                <li>You are able to interact in the Codex ecosystem as well as other applications using HTMLCoin. Use
                    cases include: membership token and access token to different community applications.

                    <br>
                </li>
            </ul>
            <p class="heading_5">What is the total 'CDEX' supply? </p>
            <ul>
                <li>Supply: 60,000,000,000 (60 billions) (decimals: 8); Name: Codex; Symbol: CDEX
                    <br>
                </li>
            </ul>
            <p class="heading_5">What is Token Distribution Plan for 'CDEX' </p>
            <ul>
                <li>Total supply: 60,000,000,000 CDEX (60 billions CDEX)<br></li>
                <li>10% → Airdrops on Bot (HZwSRp5JSeh8F1CnXLAA7Q3tfqh3WUuT9H)</li>
                <li>25% → Team (HqAkCgbqf6j5eP3n3zxN5Wss6uwQzRWF6A)</li>
                <li>51% → Business Communications & PR (HqAkCgbqf6j5eP3n3zxN5Wss6uwQzRWF6A)</li>
                <li>14% → Earned through current and future apps (HbBpkqz3RsYqso8vLb6rvA2n3Xh6d9tch8)</li>

            </ul>
            <p class="heading_5">Where can I trade CDEX tokens? </p>
            <ul>
                <li> HTMLBunker Exchange
                    <br>
                </li>
            </ul>
            <p class="heading_5">Where can I see 'CDEX' transactions? </p>
            <ul>
                <li> Official CDEX explorer:<br>
                </li>
                <ul>
                    <li><a
                            href="http://explorer.htmlcoin.com/token/911106d88ae972bd06d68dc627c2997a6fe8205f">http://explorer.htmlcoin.com/token/911106d88ae972bd06d68dc627c2997a6fe8205f</a>
                    </li>
                </ul>
            </ul>
            <p class="heading_5">What happens if a private key is misplaced or lost? </p>
            <ul>
                <li>Unfortunately there is no way of recovering your private key if you have not restored it. We highly
                    recommend that your private key is backed up in a familiar place where it is only accessible by the
                    user. <br> </li>
            </ul>
            <p class="heading_5">What's the Codex on Althash logo and the 'CDEX' token logo</p>
            <ul>
                <li>
                    Codex Logo:
                </li>
                <ul>
                    <li><img src="assets/codex_logo.webp" alt=""><br></li>
                </ul>
                <li>
                    'CDEX' Token Logo:
                </li>
                <ul>
                    <li><img src="assets/cdex_logo.webp" alt=""><br></li>
                </ul>
            </ul>
            <p class="heading_5">What is the HRC20 'CDEX' Bot? </p>
            <ul>
                <li>The 'Codex Wallet Bot' is a community run tip bot on Telegram that is connected to the HTMLCoin
                    blockchain. The bot allows users to have the capability of checking their balance, public address,
                    and checking private key. <br> To read more visit: <a
                        href="https://www.codexonalthash.com/hrc20-cdex-bot ">https://www.codexonalthash.com/hrc20-cdex-bot
                    </a><br></li>
            </ul>
            <p class="heading_5">Do I have to encrypt my desktop wallet? </p>
            <ul>
                <li>No you do not have to, but it is strongly recommended to encrypt your wallet. If anyone can access
                    your unencrypted wallet.dat file, they can steal your coin.<br></li>
            </ul>
            <p class="heading_5">Do I need to backup the desktop wallet? </p>
            <ul>
                <li>Yes, it is very important to backup your wallet frequently and save backup files to multiple
                    locations. And also it is important to make multiple backup files.<br></li>
            </ul>
            <p class="heading_5">Can I open my same wallet.dat to multiple locations? </p>
            <ul>
                <li>It is not recommended because it can cause some issues.<br></li>
            </ul>
            <p class="heading_5">How to restore wallet.dat for desktop wallet? </p>
            <ul>
                <li>Close your wallet software</li>
                <li>You must find where your wallet.dat is located.</li>
                <li> For windows: it is usually under %APPDATA%\Roaming\HTMLCOIN\</li>
                <li> For Mac: it is usually under Library/Application Support/HTMLCOIN/</li>
                <li> Rename your current wallet.dat to something like wallet-original.dat</li>
                <li> Copy your backup wallet data file to where the wallet-original.dat is at.</li>
                <li> DO NOT MOVE your backed up file. Make sure to copy and paste.</li>
                <li> Rename your backup wallet data file to wallet.dat</li>
                <li> Start your wallet software.</li>
            </ul>


        </span>
    </div>
</section>