<section class="fdb-block align-items-center" style="background-image: url(assets/Images/common/hero_bg.png);">
    <div class="container pt-5 pt-md-0">
        <h1 class="heading_1 p-primary-dark text-center text-md-left pt-5"> {{'faq.codex_faq' | translate}} </h1>
        <p class="subheading_normal text-center text-md-left"> {{'faq.version' | translate}}: January 15, 2020</p>
    </div>
</section>
<section class="fdb-block-np">
    <div class="container pf-footer pt-5">
        <span class="subheading_normal p-grey common-p"> {{'faq.if_you_cant' | translate}}<a href="https://t.me/DannyClear">https://t.me/DannyClear</a><br>

            {{'faq.to_learn_more' | translate}} (<a
                href="https://www.codexonalthash.com/">https://www.codexonalthash.com/</a> )
            <br><br>
            <p class="heading_5"> {{'faq.ques1.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques1.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques2.q' | translate}}</p>
            <ul>
                <li> <a href="https://www.codexonalthash.com/">https://www.codexonalthash.com/</a>.<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques3.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques3.ans' | translate}}<br></li>
                <li>{{'faq.ques3.ans2' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques4.q' | translate}} </p>
            <ul>
                <li>{{'faq.ques4.ans' | translate}}<br></li>
                <li>{{'faq.ques4.ans2' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques5.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques5.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques6.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques6.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques7.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques7.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques8.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques8.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques9.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques9.ans' | translate}}<a href="https://htmlbunker.com/">https://htmlbunker.com/</a><br></li>
            </ul>
            <p class="heading_5">{{'faq.ques10.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques10.ans' | translate}}

                    <br>
                </li>
            </ul>
            <p class="heading_5">{{'faq.ques11.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques11.ans' | translate}}
                    <br>
                </li>
            </ul>
            <p class="heading_5">{{'faq.ques12.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques12.ans' | translate}}<br></li>
                <li>{{'faq.ques12.ans2' | translate}} (HZwSRp5JSeh8F1CnXLAA7Q3tfqh3WUuT9H)</li>
                <li>{{'faq.ques12.ans3' | translate}} (HqAkCgbqf6j5eP3n3zxN5Wss6uwQzRWF6A)</li>
                <li>{{'faq.ques12.ans4' | translate}} (HqAkCgbqf6j5eP3n3zxN5Wss6uwQzRWF6A)</li>
                <li>{{'faq.ques12.ans5' | translate}} (HbBpkqz3RsYqso8vLb6rvA2n3Xh6d9tch8)</li>

            </ul>
            <p class="heading_5">{{'faq.ques13.q' | translate}}</p>
            <ul>
                <li> {{'faq.ques13.ans' | translate}}
                    <br>
                </li>
            </ul>
            <p class="heading_5">{{'faq.ques14.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques14.ans' | translate}}<br>
                </li>
                <ul>
                    <li><a
                            href="http://explorer.htmlcoin.com/token/911106d88ae972bd06d68dc627c2997a6fe8205f">http://explorer.htmlcoin.com/token/911106d88ae972bd06d68dc627c2997a6fe8205f</a>
                    </li>
                </ul>
            </ul>
            <p class="heading_5">{{'faq.ques15.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques15.ans' | translate}}<br> </li>
            </ul>
            <p class="heading_5">{{'faq.ques16.q' | translate}}</p>
            <ul>
                <li>
                    {{'faq.ques16.ans' | translate}}
                </li>
                <ul>
                    <li><img src="assets/codex_logo.webp" alt=""><br></li>
                </ul>
                <li>
                    {{'faq.ques16.ans' | translate}}
                </li>
                <ul>
                    <li><img src="assets/cdex_logo.webp" alt=""><br></li>
                </ul>
            </ul>
            <p class="heading_5">{{'faq.ques17.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques17.ans' | translate}}<br>{{'faq.ques17.ans2' | translate}}<a
                        href="https://www.codexonalthash.com/hrc20-cdex-bot ">https://www.codexonalthash.com/hrc20-cdex-bot
                    </a><br></li>
            </ul>
            <p class="heading_5">{{'faq.ques18.q' | translate}}Do I have to encrypt my desktop wallet? </p>
            <ul>
                <li>{{'faq.ques18.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques19.q' | translate}}Do I need to backup the desktop wallet? </p>
            <ul>
                <li>{{'faq.ques19.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques20.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques20.ans' | translate}}<br></li>
            </ul>
            <p class="heading_5">{{'faq.ques21.q' | translate}}</p>
            <ul>
                <li>{{'faq.ques21.ans' | translate}}Close your wallet software</li>
                <li>{{'faq.ques21.ans2' | translate}}You must find where your wallet.dat is located.</li>
                <li> {{'faq.ques21.ans3' | translate}}For windows: it is usually under %APPDATA%\Roaming\HTMLCOIN\</li>
                <li> {{'faq.ques21.ans4' | translate}}For Mac: it is usually under Library/Application Support/HTMLCOIN/</li>
                <li> {{'faq.ques21.ans5' | translate}}Rename your current wallet.dat to something like wallet-original.dat</li>
                <li> {{'faq.ques21.ans6' | translate}}Copy your backup wallet data file to where the wallet-original.dat is at.</li>
                <li>{{'faq.ques21.ans7' | translate}} DO NOT MOVE your backed up file. Make sure to copy and paste.</li>
                <li>{{'faq.ques21.ans8' | translate}} Rename your backup wallet data file to wallet.dat</li>
                <li>{{'faq.ques21.ans9' | translate}} Start your wallet software.</li>
            </ul>


        </span>
    </div>
</section>