.fdb-block .fdb-touch {
  border-top: solid 0.3125rem #329ef7;
  z-index: 2;
}

.fdb-box {
  background: #ffffff;
  padding: 1.2rem 2rem 1.5rem;
  flex-direction: column;
  max-width: 20rem;
  overflow: hidden;
  color: #444444;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-radius: 0.8rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgb(129 129 129 / 20%) !important;
}

.partner-logo {
  height: 2rem;
  width: auto;

  .first {
    flex-grow: 1;
  }
  .text-end {
    img {
      height: 3rem;
    }
  }
}
.logo-card {
  display: flex;
  background: #ffffff;
  align-items: center;
  padding: 1.2rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgb(129 129 129 / 20%) !important;
  justify-content: space-between;
}
// footer.footer-large {
//     padding: 6.25rem 0 !important;
// }
.footer-large {
  margin-top: -9% !important;
}

.bf-footer {
  padding-bottom: 6%;
}
.fdb-block {
  background-color: transparent !important;
  background-image: url(/assets/home_bg_2.svg);
  background-size: contain;
  background-position: top;
}

.notselected {
  filter: brightness(0) opacity(0.48);
}

.landing-section {
  padding: 80px 0 0;
}

// .platform {
//   &-content {
//     padding-bottom: 6rem;
//   }
// }

.intro-card {
  position: relative;
  img {
    position: relative;
    z-index: 2;
  }
  .pipe-img {
    position: absolute;
    top: 0;
    right: -0;
    transform: translate(30%, 3rem);
    height: 1rem;
    z-index: 0;
  }
}
.content-box {
  box-sizing: content-box !important;
}
.w-45 {
  width: 45% !important;
}

.hero_bg {
  background-image: url(/assets/Home_bg.svg);
}

.home_title {
  font-family: "Plus Jakarta Display" !important;
  font-style: normal !important;
  font-size: 148px !important;
  line-height: 1.5 !important;
  letter-spacing: -0.04em !important;
}

.home_subtitle {
  font-family: "Plus Jakarta Display" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 68px !important;
  line-height: 1.5 !important;
  /* identical to box height */

  letter-spacing: -0.04em !important;
}
@media (max-width: 768px) {
  /* For mobile phones: */
  .home_title {
    font-size: 72px !important;
  }
  .home_subtitle {
    font-size: 44px !important;
  }
  .hero_bg {
    background-image: url(/assets/Images/home/hero_bg.png);
  }

  .intro-card {
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    .pipe-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 93px;
      transform: translate(-30%, 10rem) rotate(90deg);
      height: 0.8rem;
      z-index: 0;
    }
  }

  .w-45 {
    width: 28% !important;
  }

  .bg_img {
    background-image: url("/assets/Images/home/phone_bg_1.png") !important;
  }

  section {
    position: relative;
    padding: 3.5rem 0;
  }

  .scroll {
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    /* min-width: 25%; */
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .bg_img_1 {
    background-image: url("/assets/Images/home/phone_bg_2.png") !important;
  }
}

@media (max-width: 576px) {
  .home_title {
    line-height: 0 !important;
  }
  .home_subtitle {
    display: block;
  }
  .home_subtitle {
    display: block;
  }
}

.button-icon {
  height: 4rem;
  width: auto;
}

.bg_img {
  background-image: url("/assets/home_bg_4.svg");
}
.bg_img_1 {
  background-image: url("/assets/home_bg_5.svg");
}

.why-choose-codex-heading {
  text-align: center;
  margin-bottom: 40px;
}

.why_choose_codex_box {
  display: flex;
  justify-content: space-evenly;
}

.fdb-block {
  padding: 5.5rem 0;
  background-size: cover;
  background-position: top;
}

.ml-38 {
  margin-left: 38px;
}

.btn-lg {
  height: 53.48 !important;
}
.btn-sm {
  height: 41.73px !important;
}
.ml-620 {
  margin-left: 48%;

  @media (max-width: 576px) {
    margin-left: 0;
  }
}
.community-card {
  flex-direction: column;
  display: flex;
  justify-content: space-around;

  img {
    max-width: 6rem;
  }
}

.goal-section {
  background-image: url(/assets/Images/light-bg1.png);
  background-size: cover;
  background-position: bottom right;

  @media (max-width: 576px) {
    padding: 3.5rem 0 0;
  }

  .bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 92%;
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.carousel {
  &-container {
    margin-left: 12vw;
  }
  &-content{
      padding: 0;
  }

  &-block {
    margin-top: 3rem;
  }
  &-btns {
    display: flex;

    @media (max-width:576px) {
        display: none;
    }
  }
  &-pipe{
    position: absolute;
    top: 33%;
    right: -32%;
    width: 50% !important;

    &.flip{
        transform: rotateY(145deg);
    }

    
  }

  &-header {
      padding-bottom: 1rem;
    border-bottom: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-right:12vw;

    .owl-btn {
      height: 3rem;
      width: 3rem;
      outline: none !important;
      border: none !important;
      min-height: 3rem;
      min-width: 3rem;
      border-radius: 50%;
      background-color: #fff;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 12px 30px 0px #635cdb1f;
        transition: 0.2s all ease-out;
      img {
        width: 30%;
      }

      &:hover{
          transform: translateY(-2px);
      }

      &:active{
          transform: translateY(0);
          box-shadow:  0px 4px 8px 0px #625cdb1a;
      }
      

      &.owl-btn-prev {
        margin-right: 2rem;
      }
    }
  }
  &-card {
    box-shadow: 0px 30px 70px 0px #0000001f;
    border-radius: 0.4rem;
    display: flex;
    background-color: #fff;
    margin-right: 1.6rem;
    min-height: 10rem;
    position: relative;
    z-index: 10;
    margin-bottom: 6rem;

    &.down{
        transform: translateY(50%);
    }
  }

  &-img-icon {
      img{
        height: 2.4rem ;
        width: auto !important;
      }
   
    margin-bottom: 0.6rem;
  }

  &-date {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #c5c5c5;
    img {
        width: 1.8rem !important;
        margin-bottom: 0.6rem;
        transform: translateX(27%);
    }
    h6 {
      transform: rotate(180deg) translateX(-8px);
      text-orientation: unset;
      writing-mode: vertical-rl;
      margin: 0;
      font-size: 13px;
    }
  }

  &-body{
    padding: 1.2rem 0.8rem 1.6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      p{
          margin-bottom: 0;
      }
  }
}
