<section class="fdb-block hero_bg">
    <div class="container landing-section">
        <div class="row text-center">
            <div class="col mb-4">
                <span class="p-primary home_title m-0 font-weight-medium col">codex</span><span
                    class="text-black home_subtitle">token.io</span>
                <h6 class="p-grey ml-620 mt-n2 mt-sm-n4">
                    {{'homepage.section1.made_on_althash' | translate}}
                </h6>
                <!-- <label>{{'homepage.change_lang_label' | translate}}:</label> -->
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-7 mx-auto">
                <h5 class="subheading_big p-grey mx-auto" style="max-width: 90%;">
                    {{'homepage.section1.ecosystem_made_for' | translate}}
                </h5>
            </div>
        </div>

        <div class="my-md-5">
            <h1 class="bg-transparent">&nbsp;</h1>
        </div>

        <div class="row text-left">
            <div class="col-10 col-md-3 m-auto">
                <div class="logo-card">

                    <div class="first">
                        <h6 class="fw-bold text-black">{{'homepage.section1.made_on' | translate}}</h6>
                        <img src="assets/althash_logo.png" class="partner-logo" alt="" srcset="">
                    </div>
                    <div class="text-end">
                        <img src="assets/ch-right.png" class="ps-4" alt="" srcset="">
                    </div>

                </div>
            </div>

            <div class="col-10 pt-3 pt-md-0 col-md-3 m-auto">
                <div class="logo-card">
                    <div class="first">
                        <h6 class="fw-bold text-black">{{'homepage.section1.powered_by' | translate}}</h6>
                        <img src="assets/html_coin_1.png" class="partner-logo" alt="" srcset="">
                    </div>
                    <div class="text-end">
                        <img src="assets/ch-right.png" class="ps-3" alt="" srcset="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 mx-auto px-md-5">
                <h5 class="p-primary-dark heading_2">{{'homepage.section2.bringing_the_new_heading' | translate}}</h5>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-md-8 mx-auto">
                <p class="p_normal">{{'homepage.section2.codex_on_althash_subheading' | translate}}</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="intro-card d-flex d-md-block">
                    <img src="assets/Images/home/j_icon_1.png" class="w-45 align-self-start" alt="" srcset="">
                    <div class="d-flex flex-column pl-3">
                        <h5 class="heading_3 mt-md-4">{{'homepage.section2.item1.heading' | translate}}</h5>
                        <p class="p_normal p-grey">{{'homepage.section2.item1.content' | translate}}</p>
                    </div>
                    <img src="assets/Images/purple-pipe.svg" alt="" class="pipe-img">
                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-3 pt-3 pt-sm-0">
                <div class="intro-card d-flex d-md-block">
                    <img src="assets/Images/home/j_icon_2.png" class="w-45 align-self-start" alt="" srcset="">
                    <div class="d-flex flex-column pl-3">

                        <h5 class="heading_3 mt-md-4">{{'homepage.section2.item2.heading' | translate}}</h5>
                        <p class="p_normal p-grey">{{'homepage.section2.item2.content' | translate}}</p>
                    </div>
                    <img src="assets/Images/purple-pipe.svg" alt="" class="pipe-img">

                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
                <div class="intro-card d-flex d-md-block">
                    <img src="assets/Images/home/j_icon_1.png" class="w-45 align-self-start" alt="" srcset="">

                    <div class="d-flex flex-column pl-3">

                        <h5 class="heading_3 mt-md-4">{{'homepage.section2.item3.heading' | translate}}</h5>
                        <p class="p_normal p-grey">{{'homepage.section2.item3.content' | translate}}</p>
                    </div>

                    <img src="assets/Images/purple-pipe.svg" alt="" class="pipe-img">
                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
                <div class="intro-card d-flex d-md-block">
                    <img src="assets/Images/home/j_icon_4.png" class="w-45 align-self-start" alt="" srcset="">

                    <div class="d-flex flex-column pl-3">

                        <h5 class="heading_3 mt-md-4">{{'homepage.section2.item4.heading' | translate}}</h5>
                        <p class="p_normal p-grey">{{'homepage.section2.item4.content' | translate}}</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="fdb-block" style="background-image: url(assets/Images/home/common-goal.png);">
    <!-- <img src="assets/Images/home/common-goal.png" class="bg-img d-none d-md-block" alt=""> -->
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-12 col-md-8 col-xl-8 ps-md-5">
                <h2 class="heading_1 p-primary-dark">{{'homepage.section3.common_goal' | translate}}</h2>
                <p class="subheading_normal">{{'homepage.section3.subheading' | translate}}</p>
                <br>
                <h4 class="text-decoration-underline capitalize_text_normal">{{'homepage.section3.our_mission' |
                    translate}}</h4>
                <p class="p_big_200">{{'homepage.section3.content' | translate}}</p>
            </div>
            
            <!-- <div class="col-12 col-sm-6 col-md-5 m-sm-auto me-md-1 pt-4 pt-md-0 text-end"> -->
            <!-- <img alt="image" class="img-fluid" src="assets/home_img_1.svg"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<section class="fdb-block bg_img">
    <div class="container">
        <div class="why-choose-codex-heading">
            <span class="heading_2 col-12">{{'homepage.section4.why_codex' | translate}}</span>
        </div>
        <div class="row why_choose_codex_box">
            <div class="col-12 col-md-4 fdb-box mt-3 mt-md-0">
                <img src="assets/Images/home/icon1.png" width="50%" alt="" srcset="">
                <h5 class="heading_3 mt-4">{{'homepage.section4.item1.heading' | translate}}</h5>
                <p class="p-normal p-grey">{{'homepage.section4.item1.content' | translate}}</p>
            </div>
            <div class="col-12 col-md-4 fdb-box mt-3 mt-md-0">
                <img src="assets/Images/home/icon2.png" width="50%" alt="" srcset="">
                <h5 class="heading_3 mt-4">{{'homepage.section4.item2.heading' | translate}}</h5>
                <p class="p-normal p-grey">{{'homepage.section4.item2.content' | translate}}</p>
            </div>
            <div class="col-12 col-md-4 fdb-box mt-3 mt-md-0">
                <img src="assets/Images/home/icon3.png" width="50%" alt="" srcset="">
                <h5 class="heading_3 mt-4">{{'homepage.section4.item3.heading' | translate}}</h5>
                <p class="p-normal p-grey">{{'homepage.section4.item3.content' | translate}}</p>
            </div>
        </div>


    </div>
</section>

<section class="pt-2 pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-12 col-lg-6 col-xl-5">
                <h5 class="capitalize_text_normal">{{'homepage.section5.our_community' | translate}}</h5>
                <h1 class="p-primary-dark heading_1">CDEX</h1>
                <p class="mb-5 p_big_200">{{'homepage.section5.from_more_than' | translate}}</p>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 text-center">
                        <img src="assets/home_icon_1.svg" class="p-shadow" width="60%" alt="" srcset="">
                        <p class="fw-bold heading_5">{{'homepage.section5.made_on_althash' | translate}}</p>
                    </div>
                    <div class="col-6 col-md-4 text-center">
                        <img src="assets/home_icon_2.svg" class="p-shadow" width="60%" alt="" srcset="">
                        <p class="fw-bold heading_5">{{'homepage.section5.quick_and_eff' | translate}}</p>
                    </div>
                    <div class="col-6 col-md-4 text-center">
                        <img src="assets/home_icon_3.svg" class="p-shadow" width="60%" alt="" srcset="">
                        <p class="fw-bold heading_5">{{'homepage.section5.available_on' | translate}} <br> <a
                                class="text-decoration-none text-decoration-underline p-primary-dark pointer" (click)="submitForm()">{{'homepage.section5.buy_now'
                                | translate}} <span>&nbsp;</span><img src="assets/ch-right_sm.svg" alt="" srcset=""></a>
                        </p>
                    </div>
                    <!-- <p class="mt-3 px-3 px-md-0"><a href="#"
                            class="underline p-primary-light font-weight-bold ">{{'homepage.section5.explore_other_community'
                            | translate}}</a><span>&nbsp;</span><img src="assets/ch-right_sm.svg" alt="" srcset=""></p> -->
                </div>
            </div>
            <div class="col-12 col-md-8 ml-auto col-lg-6">
                <img alt="image" class="img-fluid token-img" src="assets/token-img.png">
            </div>
        </div>
    </div>

</section>

<section class="pb-0 bg_img_1" id="ecosystem">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="p-primary heading_1">{{'homepage.section6.heading' | translate}}</h1>
                <p class="subheading_normal">{{'homepage.section6.subheading' | translate}}</p>
            </div>
        </div>
        <div class="row text-center justify-content-between scroll pb-5">
            <div class="col-md-3 col-8 my-3">
                <button class="w-80 mx-auto btn btn-light p-round fw-bold p-shadow py-1 px-2" (click)="changeSlide(1)"
                    [ngClass]="{'p-primary-dark': slide==1,'text-muted': slide!=1}">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img src="assets/Images/home/code.svg" [class.notselected]="slide!=1"
                                class="p-2 button-icon" alt="">
                        </div>
                        <div class="col-9">
                            <h6 class="mb-0">
                                {{'homepage.section6.workplace.heading' | translate}}
                            </h6>
                        </div>


                    </div>
                </button>
            </div>
            <div class="col-md-3 my-3 col-10">
                <button class="w-80 mx-auto btn btn-light p-round fw-bold p-shadow py-1 px-2 text-left" (click)="changeSlide(2)"
                    [ngClass]="{'p-primary-dark': slide==2,'text-muted': slide!=2}">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img src="assets/Images/home/hrc20.svg" [class.notselected]="slide!=2"
                                class="p-2 button-icon" alt="">
                        </div>
                        <div class="col-9">
                            <h6 class="mb-0">
                                {{'homepage.section6.walletbot.heading' | translate}}
                            </h6>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-md-3 my-3 col-8">
                <button class="w-80 mx-auto btn btn-light p-round fw-bold p-shadow py-1 px-2" (click)="changeSlide(3)"
                    [ngClass]="{'p-primary-dark': slide==3,'text-muted': slide!=3}">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img src="assets/Images/home/university.svg" [class.notselected]="slide!=3"
                                class="p-2 button-icon" alt="">
                        </div>
                        <div class="col-9">
                            <h6 class="mb-0">
                                {{'homepage.section6.explorer.heading' | translate}}
                            </h6>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-md-3 my-3 col-8">
                <button class="w-80 mx-auto btn btn-light p-round fw-bold p-shadow py-1 px-2" (click)="changeSlide(4)"
                    [ngClass]="{'p-primary-dark': slide==4,'text-muted': slide!=4}">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <img src="assets/Images/home/stack.svg" [class.notselected]="slide!=4"
                                class="p-2 button-icon" alt="">
                        </div>
                        <div class="col-9">
                            <h6 class="mb-0">
                                {{'homepage.section6.stack' | translate}}
                            </h6>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="platform-box pb-5 pt-2 text-center text-md-left" *ngIf="slide==1">
            <div class="row align-items-center justify-content-between">

                <div class="col-12 col-md-6 py-4 py-md-0  justify-content-center">
                    <img style="width: 75%" alt="image" class="ecosystem-image" src="assets/Images/home/workplace.png">
                </div>
                <div class="col-12 col-md-5 ps-md-5 ">
                    <div class="platform-content">
                        <h4 class="heading_2">{{'homepage.section6.workplace.heading' | translate}}</h4>
                        <p class="p_big_200 p-grey my-t-p"><b>{{'homepage.section6.workplace.firstc' | translate}}</b>{{'homepage.section6.workplace.content' | translate}}</p>
                        <button class="btn btn-purple btn-sm btn-pshd" (click)="openLink('https://codexworkplace.com/')">
                            {{'homepage.section6.workplace.btn1' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="platform-box  pb-5 pt-2 text-center text-md-left" *ngIf="slide==2">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 py-4 py-md-0 justify-content-center">
                    <img style="width: 75%" alt="image" class="ecosystem-image" src="assets/Images/home/walletbot.png">
                </div>
                <div class="col-12 col-md-5 ps-md-5">
                    <div class="platform-content">
                        <h4 class="heading_2">{{'homepage.section6.walletbot.heading' | translate}}</h4>
                        <p class="p_big_200 p-grey">{{'homepage.section6.walletbot.content' | translate}} </p>
                        <button class="btn btn-purple btn-sm btn-pshd" (click)="openLink('http://t.me/CodexWalletBot')">
                            {{'homepage.section6.walletbot.btn1' | translate}}</button>
                        <button class="btn btn-dark btn-sm btn-shd ml-4" routerLink="/walletbot"> Learn
                            More </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="platform-box  pb-5 pt-2 text-center text-md-left" *ngIf="slide==3">
            <div class="row justify-content-between align-items-center ">
                <div class="col-12 col-md-6 py-4 py-md-0 justify-content-center">
                    <img style="width: 75%" alt="image" class="ecosystem-image" src="assets/Images/home/explorer.png">
                </div>
                <div class="col-12 col-md-5 ps-md-5 ">
                    <div class="platform-content">
                        <h4 class="heading_2">{{'homepage.section6.explorer.heading' | translate}}</h4>
                        <p class="p_big_200 p-grey">{{'homepage.section6.explorer.content' | translate}}</p>
                        <!-- <button class="btn btn-purple btn-lg p-shadow"> Apply </button> -->
                        <button class="btn btn-purple btn-sm btn-pshd" (click)="openLink('http://CDEXplorer.net')">
                            {{'homepage.section6.explorer.btn2' | translate}}
                       </button>
                        <!-- <button class="btn btn-dark btn-sm btn-shd ml-4" routerLink="/althash-university"> Learn More
                        </button> -->
                    </div>

                </div>
            </div>
        </div>

        <div class="platform-box  pb-5 pt-2 text-center text-md-left" *ngIf="slide==4">
            <div class="row justify-content-between align-items-center ">
                <div class="col-12 col-md-6 py-4 py-md-0 justify-content-center">
                    <img style="width: 75%" alt="image" class="ecosystem-image" src="assets/Images/home/stacking.png">
                </div>
                <div class="col-12 col-md-5 ps-md-5">
                    <div class="platform-content">
                        <h4 class="heading_2">{{'homepage.section6.stacking.heading' | translate}}</h4>
                        <p class="p_big_200 p-grey">{{'homepage.section6.stacking.content' | translate}}</p>
                        <!-- <button class="btn btn-purple btn-lg p-shadow"> Apply </button> -->
                        <button class="btn btn-purple btn-sm btn-pshd" (click)="openLink('https://app.codextoken.io')">
                            {{'homepage.section6.stacking.btn1' | translate}}
                        </button>
                        <!-- <button class="btn btn-dark btn-sm btn-shd ml-md-4 mt-4 mt-md-0" routerLink="/althash-university"> Learn More
                        </button> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="fdb-block">
    <div class="carousel-container">
        <h1 class="p-primary heading_1">{{'homepage.section7.our_journey' | translate}}</h1>
        <p class="subheading_normal">{{'homepage.section7.subheading' | translate}}</p>
        <div class="carousel-block">
            <div class="carousel-header">
                <h5 style="text-transform: uppercase;" class="mb-0">
                    <u>
                        {{'homepage.section7.title1' | translate}}
                    </u>
                </h5>

                <div class="carousel-btns">
                    <button (click)="owlPrev(profileCarouselEl)" class="owl-btn owl-btn-prev
                        btn-solo middle">
                        <img src="assets/left_icon.svg" alt="">
                    </button>
                    <button (click)="owlNext(profileCarouselEl)" class="owl-btn owl-btn-next
                        btn-solo middle">
                        <img src="assets/right_icon.svg" alt="">
                    </button>
                </div>
            </div>

            <div class="carousel-content">
                <owl-carousel #profileCarouselEl [options]="profileCarousel"
                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="item" *ngFor="let item of roadmap1;let i = index">
                        <div class="carousel-card" [class.down]="i%2!=0">
                            <div class="carousel-date">
                                <img src="assets/rm-1.svg" alt="">
                                <h6>
                                    {{item.date}}
                                </h6>
                            </div>
                            <div class="carousel-body">
                                <div class="carousel-img-icon">
                                    <img [src]="item.img" alt="">
                                </div>

                                <p class="p_normal">
                                    {{item.text}}
                                </p>
                            </div>
                        </div>
                        <img src="assets/car-pipe-down.svg" alt="" class="carousel-pipe" [class.flip]="i%2!=0"
                            *ngIf="i+1 != roadmap1.length">
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>


    <div class="carousel-container">
        <div class="carousel-block">
            <div class="carousel-header">
                <h5 style="text-transform: uppercase;" class="mb-0">
                    <u>
                        {{'homepage.section7.title2' | translate}}
                    </u>
                </h5>

                <div class="carousel-btns">
                    <button (click)="owlPrev(profileCarouselEl2)" class="owl-btn owl-btn-prev
                        btn-solo middle">
                        <img src="assets/left_icon.svg" alt="">
                    </button>
                    <button (click)="owlNext(profileCarouselEl2)" class="owl-btn owl-btn-next
                        btn-solo middle">
                        <img src="assets/right_icon.svg" alt="">
                    </button>
                </div>
            </div>

            <div class="carousel-content">
                <owl-carousel #profileCarouselEl2 [options]="profileCarousel"
                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="item" *ngFor="let item of roadmap2;let i = index">
                        <div class="carousel-card" [class.down]="i%2!=0">
                            <div class="carousel-date">
                                <img src="assets/rm-2.svg" alt="">
                                <h6>
                                    {{item?.date}}
                                </h6>
                            </div>
                            <div class="carousel-body">
                                <div class="carousel-img-icon">
                                    <img [src]="item.img" alt="">
                                </div>

                                <p class="p_normal">
                                    {{item.text}}
                                    <!-- {{'homepage.section7.codex_roadmap2.'+i+'.text' | translate }} -->
                                </p>
                            </div>
                        </div>
                        <img src="assets/car-pipe-down2.svg" alt="" class="carousel-pipe" [class.flip]="i%2!=0"
                            *ngIf="i+1 != roadmap1.length">
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>


</section>

<section class="fdb-block-np p-0" style="background-image: url(assets/home_news.png);">
    <div class="container">
        <div class="row text-center mt-5 p-4">
            <div class="col">
                <h1 class="p-primary heading_1">{{'homepage.section8.latest_news' | translate}}</h1>
                <p class="subheading_normal">{{'homepage.section8.subheading' | translate}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-2 mt-md-0 d-flex">
                <div class="card p-3 p-round border-0 p-shadow">
                    <img src="assets/Images/news/CDEXplorer.webp" class="card-img-top" alt="...">
                    <div class="card-body px-0 pb-0">
                        <p class="card-text text-start heading_3">{{'homepage.section8.title1' | translate}}</p>
                        <p class="text-end m-0 text-decoration-underline"><a href="http://cdexplorer.net/"
                               target="_blank" class="nav-link p-0 p-primary-dark heading_5">Read More<i
                                    class="bi bi-chevron-double-right p-primary-dark"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2 mt-md-0 d-flex">
                <div class="card p-3 p-round border-0 p-shadow">
                    <img src="assets/Images/news/Graviex_lists_CDEX.webp" class="card-img-top" alt="...">
                    <div class="card-body px-0 pb-0">
                        <p class="card-text text-start heading_3">{{'homepage.section8.title3' | translate}}</p>
                        <p class="text-end m-0 text-decoration-underline"><a href="https://graviex.net/markets/cdexdoge"
                            target="_blank" class="nav-link p-0 p-primary-dark heading_5">{{'homepage.section8.read_more' | translate}}<i
                                    class="bi bi-chevron-double-right p-primary-dark"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2 mt-md-0 d-flex">
                <div class="card p-3 p-round border-0 p-shadow">
                    <img src="assets/Images/news/Completion_of_the_5th_Monthly.webp" class="card-img-top" alt="...">
                    <div class="card-body px-0 pb-0">
                        <p class="card-text text-start heading_3">{{'homepage.section8.title2' | translate}}</p>
                        <p class="text-end m-0 text-decoration-underline"><a href="https://twitter.com/Codex_HTML/status/1245094639570427906?s=20"
                            target="_blank" class="nav-link p-0 p-primary-dark heading_5">{{'homepage.section8.read_more' | translate}}<i
                                    class="bi bi-chevron-double-right p-primary-dark"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-5 p-4">
            <div class="col">
                <button class="btn btn-dark btn-lg btn-shd" routerLink="/news">{{'homepage.section8.see_all_btn' | translate}}</button>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block">
    <div class="container">

        <h4 class="p-primary-dark heading_2">{{'homepage.section9.welcome' | translate}}</h4>
        <p class="subheading_small">{{'homepage.section9.subheading' | translate}}</p>

        <div class="row">
            <div class="col-md-3 col-6 w-100 d-flex m-0 my-2">
                <div class="p-4 border p-round community-card">
                    <img src="assets\Icons\telegram.svg" alt="" class="img-fluid p-shadow" srcset="">
                    <div>
                        <h5 class="heading_3 mt-3">{{'homepage.section9.telegram' | translate}}</h5>
                        <a target="_blank" href="https://t.me/Codex_on_Althash"
                            class="nav-link p-0 p-primary-dark fw-bold">{{'homepage.section9.readmore' | translate}}<i class="bi bi-chevron-double-right p-primary-dark"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6 w-100 d-flex m-0 my-2">
                <div class="p-4 border p-round community-card">
                    <img src="assets\Icons\instagram.svg" alt="" class="img-fluid p-shadow" srcset="">
                    <div>
                        <h5 class="heading_3 mt-3">{{'homepage.section9.instagram' | translate}}</h5>
                        <a target="_blank" href="https://www.instagram.com/codex_on_althash/"
                            class="nav-link p-0 p-primary-dark fw-bold">{{'homepage.section9.readmore' | translate}}<i class="bi bi-chevron-double-right p-primary-dark"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 d-flex w-100 m-0 my-2">
                <div class="p-4 border p-round community-card">
                    <img src="assets\Icons\twitter.svg" alt="" class="img-fluid p-shadow" srcset="">
                    <div>
                        <h5 class="heading_3 mt-3">{{'homepage.section9.twitter' | translate}}</h5>
                        <a target="_blank" href="https://twitter.com/Codex_HTML"
                            class="nav-link p-0 p-primary-dark fw-bold">{{'homepage.section9.readmore' | translate}}<i class="bi bi-chevron-double-right p-primary-dark"></i></a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6 d-flex w-100  m-0 my-2">
                <div class="p-4 border p-round community-card">
                    <img src="assets\Icons\discord.svg" alt="" class="img-fluid p-shadow" srcset="">
                    <div>
                        <h5 class="heading_3 mt-3">{{'homepage.section9.discord' | translate}}</h5>
                        <a target="_blank" href="https://discord.gg/zQvbHr2"
                            class="nav-link p-0 p-primary-dark fw-bold">{{'homepage.section9.readmore' | translate}}<i class="bi bi-chevron-double-right p-primary-dark"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 m-0 my-2">
                <div class="p-4 border p-round community-card">
                    <img src="assets\Icons\html5.svg" alt="" class="img-fluid p-shadow" srcset="">
                    <div>
                        <h5 class="heading_3 mt-3">{{'homepage.section9.htmlcoin' | translate}}</h5>
                        <a target="_blank" href="https://t.me/officialhtmlcoin"
                            class="nav-link p-0 p-primary-dark fw-bold">{{'homepage.section9.readmore' | translate}}<i class="bi bi-chevron-double-right p-primary-dark"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="my-4">
            <h4 class="p-primary-dark fw-bold mt-4">{{'homepage.section9.start_building' | translate}}</h4>
        </div>
        <div class="row">
            <div class="col-md-3  m-0 my-2">
                <div class="p-4 border p-round community-card">
                    <img src="assets\Icons\developers.svg" alt="" class="img-fluid p-shadow" srcset="">
                    <h5 class="heading_3 mt-3">{{'homepage.section9.developer' | translate}}</h5>
                    <a target="_blank" href="https://github.com/HTMLCOIN"
                        class="nav-link p-0 p-primary-dark fw-bold">{{'homepage.section9.seedoc' | translate}}<i class="bi bi-chevron-double-right p-primary-dark"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="fdb-block-np pt-4 bf-footer" style="background-image: url(assets/partner_bg.png);">
    <div class="container my-5 pb-5">


        <h1 class="p-primary text-center heading_2 mb-5">{{'homepage.section10.our_partner' | translate}}</h1>


        <div class="row text-center justify-content-center">
            <div class="col-5 col-md-2">
                <div class="logo-card content-box ">
                    <img src="assets/althash_logo.png" alt="" class="img-fluid" srcset="">
                </div>
            </div>
            <div class="col-lg-2 my-2 my-md-0"></div>
            <div class="col-5 col-md-2">
                <div class="logo-card content-box">
                    <img src="assets/html_coin.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>

        </div>
    </div>
</section>




<!-- Modal -->
<div class="modal fade" id="exchangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center mx-5 py-4">
                <h5 class="modal-title" id="exampleModalLabel">Exchanges for CDEX Token</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                
            </div>
            <div class="modal-body border-0 px-4 pt-4">
                <div class="row justify-content-center">
                    <div class="col-md-5 p-round border border-1 p-2 m-2">
                        <div class="row">
                            <div class="col-4 m-auto">
                                <img style="background-color: #9e9393;" src="https://graviex.net/landing/8fce09_23c4985a24d04869894e443fd3277020~mv2.png" class="p-shadow" alt="">
                            </div>
                            <div class="col-8 ps-0 align-self-center">
                                <h5 class="fw-bold p-grey">Graviex</h5>
                                <a href="https://graviex.net/desktop" target="_blank" class="p-primary-dark underline">Go to exchange</a> &nbsp;<img src="assets/ch-right_sm.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-round border border-1 p-2 m-2">
                        <div class="row">
                            <div class="col-4">
                                <img src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/245.png" class="p-shadow" alt="">
                            </div>
                            <div class="col-8 ps-0 align-self-center">
                                <h5 class="fw-bold p-grey">STEX</h5>
                                <a href="https://app.stex.com/en/trading/pair/ETH/CDEX/1D" target="_blank" class="p-primary-dark underline">Go to exchange</a> &nbsp;<img src="assets/ch-right_sm.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-round border border-1 p-2 m-2">
                        <div class="row">
                            <div class="col-4 justify-content-center align-self-center">
                                <img src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/514.png" class="p-shadow" alt="">
                            </div>
                            <div class="col-8 ps-0 align-self-center">
                                <h5 class="fw-bold p-grey">Finebox</h5>
                                <a href="https://www.finexbox.com/" target="_blank" class="p-primary-dark underline">Go to exchange</a> &nbsp;<img src="assets/ch-right_sm.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-round border border-1 p-2 m-2">
                        <div class="row">
                            <div class="col-4 m-auto">
                                <img style="background-color: #18222F;" src="https://global.bittrex.com/wp-content/themes/bittrex/dist/images/logos/bittrex-logo-global.svg" class="p-shadow" alt="">
                            </div>
                            <div class="col-8 ps-0 align-self-center">
                                <h5 class="fw-bold p-grey">Bittrex</h5>
                                <a href="https://global.bittrex.com/" target="_blank" class="p-primary-dark underline">Go to exchange</a> &nbsp;<img src="assets/ch-right_sm.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0 border">
                <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal"
                    (click)="closeModel()">Close</button>
            </div>
        </div>
    </div>
</div>