
<section class="fdb-block align-items-center" style="background-image: url(assets/Images/common/hero_bg.png);">
    <div class="container pt-5 pt-md-0">
        <h1 class="heading_1 p-primary-dark text-center text-md-left pt-5"> Privacy Policy </h1>
        <p class="subheading_normal text-center text-md-left"> Version Date: January 15, 2020</p>
    </div>
</section>
<section class="fdb-block-np">
    <div class="container pf-footer">
        <p class="heading_2 mt-4"> General Privacy Policy </p>
        <p class="subheading_normal p-grey common-p"> Codex on Althash (“Company” or “we” or “us” or “our”) respects the privacy of its
            users (“user” or “you”) that use our website located at https://www.codexonalthash.com/, including other
            media forms, media channels, mobile website or mobile application related or connected thereto
            (collectively, the “Website”). The following Company privacy policy (“Privacy Policy”) is designed to inform
            you, as a user of the Website, about the types of information that Company may gather about or collect from
            you in connection with your use of the Website. It also is intended to explain the conditions under which
            Company uses and discloses that information, and your rights in relation to that information. Changes to
            this Privacy Policy are discussed at the end of this document. Each time you use the Website, however, the
            current version of this Privacy Policy will apply. Accordingly, each time you use the Website you should
            check the date of this Privacy Policy (which appears at the beginning of this document) and review any
            changes since the last time you used the Website.
            <br><br>
            The Website is hosted in the United States of America and is subject to U.S. state and federal law. If you
            are accessing our Website from other jurisdictions, please be advised that you are transferring your
            personal information to us in the United States, and by using our Website, you consent to that transfer and
            use of your personal information in accordance with this Privacy Policy. You also agree to abide by the
            applicable laws of applicable states and U.S. federal law concerning your use of the Website and your
            agreements with us. Any persons accessing our Website from any jurisdiction with laws or regulations
            governing the use of the Internet, including personal data collection, use and disclosure, different from
            those of the jurisdictions mentioned above may only use the Website in a manner lawful in their
            jurisdiction. If your use of the Website would be unlawful in your jurisdiction, please do not use the
            Website.
            <br>
            <br>
            <span class="heading_5"> BY USING OR ACCESSING THE WEBSITE, YOU ARE ACCEPTING THE PRACTICES DESCRIBED IN
                THIS PRIVACY POLICY.</span>
            <br><br>
            <br>
            <br>
            <span class="heading_5">GATHERING, USE AND DISCLOSURE OF NON-PERSONALLY-IDENTIFYING INFORMATION</span>
            <br><br>
            <span class="heading_5">Users of the Website Generally</span>
            <br><br>
            “Non-Personally-Identifying Information” is information that, without the aid of additional information,
            cannot be directly associated with a specific person. “Personally-Identifying Information,” by contrast, is
            information such as a name or email address that, without more, can be directly associated with a specific
            person. Like most website operators, Company gathers from users of the Website Non-Personally-Identifying
            Information of the sort that Web browsers, depending on their settings, may make available. That information
            includes the user’s Internet Protocol (IP) address, operating system, browser type and the locations of the
            websites the user views right before arriving at, while navigating and immediately after leaving the
            Website. Although such information is not Personally-Identifying Information, it may be possible for Company
            to determine from an IP address a user’s Internet service provider and the geographic location of the
            visitor’s point of connectivity as well as other statistical usage data. Company analyzes
            Non-Personally-Identifying Information gathered from users of the Website to help Company better understand
            how the Website is being used. By identifying patterns and trends in usage, Company is able to better design
            the Website to improve users’ experiences, both in terms of content and ease of use. From time to time,
            Company may also release the Non-Personally-Identifying Information gathered from Website users in the
            aggregate, such as by publishing a report on trends in the usage of the Website.
            <br>
            <br>
            <span class="heading_5">Web Cookies</span>
            <br><br>
            A “Web Cookie” is a string of information which assigns you a unique identification that a website stores on
            a user’s computer, and that the user’s browser provides to the website each time the user submits a query to
            the website. We use cookies on the Website to keep track of services you have used, to record registration
            information regarding your login name and password, to record your user preferences, to keep you logged into
            the Website and to facilitate purchase procedures. Company also uses Web Cookies to track the pages that
            users visit during each Website session, both to help Company improve users’ experiences and to help Company
            understand how the Website is being used. As with other Non-Personally-Identifying Information gathered from
            users of the Website, Company analyzes and discloses in aggregated form information gathered using Web
            Cookies, so as to help Company, its partners and others better understand how the Website is being used.
            COMPANY USERS WHO DO NOT WISH TO HAVE WEB COOKIES PLACED ON THEIR COMPUTERS SHOULD SET THEIR BROWSERS TO
            REFUSE WEB COOKIES BEFORE ACCESSING THE WEBSITE, WITH THE UNDERSTANDING THAT CERTAIN FEATURES OF THE WEBSITE
            MAY NOT FUNCTION PROPERLY WITHOUT THE AID OF WEB COOKIES. WEBSITE USERS WHO REFUSE WEB COOKIES ASSUME ALL
            RESPONSIBILITY FOR ANY RESULTING LOSS OF FUNCTIONALITY.
            <br>
            <br>
            <span class="heading_5">Web Beacons</span>
            <br><br>
            A “Web Beacon” is an object that is embedded in a web page or email that is usually invisible to the user
            and allows website operators to check whether a user has viewed a particular web page or an email. Company
            may use Web Beacons on the Website and in emails to count users who have visited particular pages, viewed
            emails and to deliver co-branded services. Web Beacons are not used to access users’ Personally-Identifying
            Information. They are a technique Company may use to compile aggregated statistics about Website usage. Web
            Beacons collect only a limited set of information, including a Web Cookie number, time and date of a page or
            email view and a description of the page or email on which the Web Beacon resides. You may not decline Web
            Beacons. However, they can be rendered ineffective by declining all Web Cookies or modifying your browser
            setting to notify you each time a Web Cookie is tendered, permitting you to accept or decline Web Cookies on
            an individual basis.
            <br><br>
            <span class="heading_5">Analytics</span>
            <br><br>
            We may use third-party vendors, including Google, who use first-party cookies (such as the Google Analytics
            cookie) and third-party cookies (such as the DoubleClick cookie) together to inform, optimize and serve ads
            based on your past activity on the Website, including Google Analytics for Display Advertising. The
            information collected may be used to, among other things, analyze and track data, determine the popularity
            of certain content and better understand online activity. If you do not want any information to be collected
            and used by Google Analytics, you can install an opt-out in your web browser
            (https://tools.google.com/dlpage/gaoptout/) and/or opt out from Google Analytics for Display Advertising or
            the Google Display Network by using Google’s Ads Settings (www.google.com/settings/ads).
            <br>
            <br>
            <span class="heading_5">Aggregated and Non-Personally-Identifying Information</span>
            <br><br>
            We may share aggregated and Non-Personally Identifying Information we collect under any of the above
            circumstances. We may also share it with third parties and our affiliate companies to develop and deliver
            targeted advertising on the Website and on websites of third parties. We may combine Non-Personally
            Identifying Information we collect with additional Non-Personally Identifying Information collected from
            other sources. We also may share aggregated information with third parties, including advisors, advertisers
            and investors, for the purpose of conducting general business analysis. For example, we may tell our
            advertisers the number of visitors to the Website and the most popular features or services accessed. This
            information does not contain any Personally-Identifying Information and may be used to develop website
            content and services that we hope you and other users will find of interest and to target content and
            advertising.
            <br>
        </p>
    </div>
</section>
