
<section class="fdb-block-np pad-200" style="background-image: url(assets/Images/news/hero_bg.png);">
 <div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-4 mt-md-0 pt-md-5">
            <h1 class="heading_1 p-primary-dark">Codex News</h1>
            <p>Latest news of the Codex Community!</p>
          </div>
        <div class="col-12 col-md-6 col-lg-6">
            <img alt="image" class="img-fluid ms-md-5 d-md-block d-none" src="assets/Images/news/hero_img.png">
            <img alt="image" class="img-fluid ms-md-5 d-md-none" src="assets/Images/news/phone_hero_img.png">
        </div>
        
      </div>
 </div>
</section>

<section class="fdb-block" style="background-image: url(assets/Images/news/news_bg.png);">
    <div class="container">
      <h2 class="heading_2">Latest News</h2>

      <div class="col-sm-8 bg-white p-shadow p-round p-4 my-4" *ngFor="let newsDetails of news">
        <div class="row ">
          <div class="col-md-4">
            <img alt="image" class="img-fluid p-round news_img w-100" [src]="newsDetails.image">
          </div>
          <div class="col-md-8 px-3" >
            <div class="row h-100">
                <div class="col-12 align-self-start">
                    <h5><strong> {{ newsDetails.title}} </strong></h5>
                </div>
                <div class="col align-self-end">
                    <div class="row align-items-end">
                        <div class="col-6">
                         <p class="fw-bold p-primary-dark m-0"> {{ newsDetails.dateAdded}} </p>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-dark">Learn More</button>
                        </div>
                     </div>
                </div>
            </div>
            
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="my-md-5 py-md-5"></div>
</section>

