/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
    color: #000;
}
img{
    max-width: 100%;
}
.my-t-p{
    white-space: pre-wrap !important;
}
.fdb-block {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 5.5rem 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #FFFFFF; 
}.text-end{
    text-align: right;
}
section{
    position: relative;
    padding: 5.5rem 0;
}

.btn-shd{
    filter: drop-shadow(0px 4px 4px rgba(90, 90, 90, 0.27));
}
.btn-pshd{
    filter: drop-shadow(0px 4px 4px rgba(65, 56, 226, 0.27));
}

.card-shd{
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.08)) !important;
}

.underline{
    text-decoration-line: underline !important;
}

.fdb-block-np {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    background-color: #FFFFFF; 
}

.p-primary{
    color: #635CDB !important;
}
.p-primary-dark{
    color: #574FE8 !important;
}
.p-primary-light{
    color: #9793E6 !important;
}

.p-bprimary{
    background: #635CDB !important;
}
.p-bprimary-dark{
    background: #574FE8 !important;
}
.p-bprimary-light{
    background: #9793E6 !important;
}

.p-secondary{
    color: #40F99B !important;
}

.btn-purple {
    background: #574FE8 !important;
    color: #FFFFFF !important;
}

.p-grey {
    color: #636363;
}

.p-small{
    font-size: 0.88rem !important;
}
 .p-shadow{
    filter: drop-shadow(0px 10px 10px #635CDB26) !important;
 }

 .p-round{
     border-radius: 0.6rem !important;
 }

 .pb-round{
    border-radius: 0rem 0rem 1.5rem 1.5rem !important;
 }

 .lineheight{
    line-height: 150% !important;
 }
 .f-style{
    font-style: normal !important;
 }


.subheading_normal{
    font-family: 'Plus Jakarta Text' !important;
    font-weight: normal !important;
    font-size: 17px !important;
}
.capitalize_text_normal{
    font-family: "Plus Jakarta Display" !important;
    font-weight: 900!important;
    font-size: 18px !important;
    margin-bottom: 1rem;
    text-decoration-line: underline !important;
    text-transform: uppercase !important;
}
//--------------------------------------------new classes--------------------------------//
p,span,a,button{
    font-family: 'Plus Jakarta Text' !important;
}
.font-weight-medium{
    font-weight: 500 !important;
}
.text-black{
    color:#000 !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Plus Jakarta Display' !important;
    font-weight:700;
}
//--------------------------------------------new classes--------------------------------//4

.heading_1{
    font-family: 'Plus Jakarta Display' !important;
    font-weight: bold !important;
    font-size: 42px !important;
 }
.heading_2{
    font-family: 'Plus Jakarta Display' !important;
    font-weight: bold !important;
    font-size: 26px !important;
 }

.heading_3{
    font-family: 'Plus Jakarta Display' !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.heading_4{
    font-family: 'Plus Jakarta Display' !important;
    font-weight: bold !important;
    font-size: 22px !important;
}

.heading_5{
    font-family: 'Plus Jakarta Display' !important;
    font-weight: bold !important;
    font-size: 16px !important;
}
.heading_6{
    font-family: 'Plus Jakarta Display' !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.p_normal, .p-normal{
    font-family: 'Plus Jakarta Text' !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 1.8;
}
.p_big_200{
    font-family: 'Plus Jakarta Text' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 200% !important;
}
.p_big_180{
    font-family: 'Plus Jakarta Text' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 180% !important;
}
.subheading_big{
    font-family: 'Plus Jakarta Text' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 150% !important;

    @media (max-width: 576px) {
        font-size: 18px !important;
    }
}


.button_small{
    font-family: 'Plus Jakarta Text' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 23px !important;
}
.button_normal{
    font-family: 'Plus Jakarta Text' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 31px !important;
}
.subheading_small{
    font-family: 'Plus Jakarta Text' !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

.pf-footer{
    padding-bottom: 180px;
}

.heading_2, .heading_3, .heading_1,.capitalize_text_normal,.subheading_noraml,.p_normal,.heading_5,.heading_6,.subheading_small{
    @extend .f-style;
    @extend .lineheight ;
}


.btn{
    filter: drop-shadow(0px 4px 4px rgba(90, 90, 90, 0.27)) !important;
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
}
.btn-lg {
    height: 53.48 !important;
font-size: 18.99px !important;
  }
  .btn-sm {
    height: 41.73px !important;
    font-size: 14.24px !important;
  }
.btn-dark{
    background-color: #242424 !important;
}
.common-p{
    font-size: 14.5px !important;
}

@media (max-width: 768px) {
    /* For mobile phones: */
   .fdb-block{
       padding:3.5rem 0 !important;
   }
   .heading_1{
       font-size: 32px!important;
   }
  }
  .owl-stage-outer{
      overflow: visible !important;
  }
  .owl-stage {
    padding-left: 0rem !important;
  }