<footer class="fdb-block footer-large foot_bg_img">
  <div class="container pt-5 mt-25">
    <div class="row text-center ">
      <div class="col">
        <h1 class="p-primary fw-bold fst-italic">codex<span class="text-dark">token.io</span></h1>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-md-8">
        <p class="p-normal p-grey mt-2">{{'footer.subheading' | translate}}</p>
      </div>
    </div>

    <hr>
    <br>

    <div class="row align-items-top">
      <div class="col-6 col-md-4 col-lg-3 text-sm-start">
        <h5 class="mb-4"><strong>{{'footer.company.title' | translate}}</strong></h5>
        <nav class="nav flex-column">
          <a class="nav-link ps-0" href="#">{{'footer.company.home' | translate}}</a>
          <a class="nav-link ps-0" href="https://e1087d92-cb3d-44ef-ae3a-57d3801a9a3c.filesusr.com/ugd/b6a441_93d42c270efb4e2fbe499c34c316f90f.pdf" target="_blank">{{'footer.company.white_paper' | translate}}</a>
          <a class="nav-link ps-0" href="#">{{'footer.company.roadmap' | translate}}</a>
          <a class="nav-link ps-0" href="/news">{{'footer.company.news' | translate}}</a>
          <a class="nav-link ps-0" href="#">{{'footer.company.careers' | translate}}</a>
        </nav>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mt-0 mt-md-0 text-sm-start">
        <h5 class="mb-4"><strong>{{'footer.community.title' | translate}}</strong></h5>
        <nav class="nav flex-column">
          <a class="nav-link ps-0" href="https://t.me/HRC20_Token_Room" target="_blank">{{'footer.community.room' | translate}}</a>
          <a class="nav-link ps-0" href="https://t.me/CodexHTML" target="_blank">{{'footer.community.telegram' | translate}}</a>
          <a class="nav-link ps-0" href="https://mamby.com/u/CodexHTML/posts" target="_blank">{{'footer.community.mamby' | translate}}</a>
          <a class="nav-link ps-0" href="https://discord.com/invite/UZwxqGP" target="_blank">{{'footer.community.discord' | translate}}</a>
          <a class="nav-link ps-0" href="https://www.floyx.com/profile/codex/posts" target="_blank">{{'footer.community.floyx' | translate}}</a>
          <a class="nav-link ps-0" href="https://app.sapien.network/u/@Codex_HTML/posts" target="_blank">{{'footer.community.sapien' | translate}}</a>
        </nav>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
        <h5 class="mb-4"><strong>{{'footer.support.title' | translate}}</strong></h5>
        <nav class="nav flex-column">
          <a class="nav-link ps-0" routerLink="/faq">{{'footer.support.faq' | translate}}</a>
          <a class="nav-link ps-0" routerLink="/investment-policy">{{'footer.support.investment_policy' |
            translate}}</a>
          <a class="nav-link ps-0" routerLink="/termofuse">{{'footer.support.terms_of_Use' | translate}}</a>
          <a class="nav-link ps-0" routerLink="/disclaimer">{{'footer.support.disclamer' | translate}}</a>
          <a class="nav-link ps-0" routerLink="/privacy-policy">{{'footer.support.privacy_policy' | translate}}</a>
          <a class="nav-link ps-0" routerLink="/legal-opinion">{{'footer.support.legal_opinion' | translate}}</a>
          <!-- <a class="nav-link ps-0" href="#">{{'footer.support.wallets' | translate}}</a>
          <a class="nav-link ps-0" href="#">{{'footer.support.security_best_practices' | translate}}</a> -->


        </nav>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
        <h5 class="mb-3"><strong>{{'footer.connect.title' | translate}}</strong></h5>
        <nav class="nav flex-column">
          <p class="text-decoration-underline text-muted mb-2">{{'footer.connect.findus' | translate}}</p>
          <a class="nav-link ps-0" href="https://www.linkedin.com/company/codex-on-althash/" target="_blank">{{'footer.connect.linkedin' | translate}}</a>
          <a class="nav-link ps-0" href="https://twitter.com/Codex_HTML" target="_blank">{{'footer.connect.twitter' | translate}}</a>
          <a class="nav-link ps-0" href="https://medium.com/codex-on-althash" target="_blank">{{'footer.connect.medium' | translate}}</a>
          <a class="nav-link ps-0" href="https://steemit.com/@codex-on-althash" target="_blank">{{'footer.connect.steemit' | translate}}</a>

          <p class="text-decoration-underline text-muted mt-4">{{'footer.connect.contactus' | translate}}</p>
          <a class="nav-link ps-0" href="#" style="word-break: break-all;">{{'footer.connect.dev' | translate}}</a>
          <a class="nav-link ps-0" href="#" style="word-break: break-all;">{{'footer.connect.bblog' | translate}}</a>

        </nav>
      </div>
    </div>


    <p class="p_nomral text-center mt-5" style="opacity: 0.6;">
      Copyright © Codextoken.io 2021
    </p>

  </div>
</footer>