<footer class="fdb-block footer-large foot_bg_img">
    <div class="container pt-5 mt-25">
        <div class="row text-center ">
            <div class="col">
                <h1 class="p-primary fw-bold fst-italic">codex<span class="text-dark">token.io</span></h1>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-md-8">
                <p class="p-normal p-grey mt-2">Bringing the new generation developers closer to build a community of innovation in the field of blockchain and software development</p>
            </div>
        </div>

        <hr>
        <br>

      <div class="row align-items-top">
        <div class="col-6 col-md-4 col-lg-3 text-sm-start">
            <h5 class="mb-4"><strong>Company</strong></h5>
          <nav class="nav flex-column">
            <a class="nav-link ps-0" href="#">Home</a>
            <a class="nav-link ps-0" href="#">White Paper</a>
            <a class="nav-link ps-0" href="#">Road Map</a>
            <a class="nav-link ps-0" href="#">News</a>
            <a class="nav-link ps-0" href="#">Careers</a>
          </nav>
        </div>
  
        <div class="col-6 col-md-4 col-lg-3 mt-0 mt-md-0 text-sm-start">
          <h5 class="mb-4"><strong>Community</strong></h5>
          <nav class="nav flex-column">
            <a class="nav-link ps-0" href="#">HRC20 RAIN Room</a>
            <a class="nav-link ps-0" href="#">Telegram</a>
            <a class="nav-link ps-0" href="#">Mamby</a>
            <a class="nav-link ps-0" href="#">Discord</a>
            <a class="nav-link ps-0" href="#">Floyx</a>
            <a class="nav-link ps-0" href="#">Sapien Network</a>
        </nav>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
        <h5 class="mb-4"><strong>Support</strong></h5>
        <nav class="nav flex-column">
            <a class="nav-link ps-0" href="#">FAQ</a>
            <a class="nav-link ps-0" href="#">Investment Policy</a>
            <a class="nav-link ps-0" href="#">Terms of Use</a>
            <a class="nav-link ps-0" href="#">Disclamer</a>
            <a class="nav-link ps-0" routerLink="/privacy-policy">Privacy Policy</a>
            <a class="nav-link ps-0" href="#">Legal Opinion</a>
            <a class="nav-link ps-0" href="#">Wallets</a>
            <a class="nav-link ps-0" href="#">Security Best Practices</a>
            
            
        </nav>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-start">
        <h5 class="mb-3"><strong>Connect with Us</strong></h5>
        <nav class="nav flex-column">
            <p class="text-decoration-underline text-muted mb-2">Find us on</p>
            <a class="nav-link ps-0" href="#">Linkedin</a>
            <a class="nav-link ps-0" href="#">Twitter</a>
            <a class="nav-link ps-0" href="#">Medium</a>
            <a class="nav-link ps-0" href="#">Steemit</a>
            
            <p class="text-decoration-underline text-muted mt-4">Contact us</p>
            <a class="nav-link ps-0" href="#" style="word-break: break-all;">Dev@codexonalthash.com</a>
            <a class="nav-link ps-0" href="#" style="word-break: break-all;">bbalog@htmlcoin.team</a>
            
          </nav>
        </div>
      </div>
  
      
        <p class="p_nomral text-center mt-5" style="opacity: 0.6;">
          Copyright © Codex 2021
        </p>
      
    </div>
  </footer>
